@charset "UTF-8";

@import url(font.css);

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond|Droid+Serif|Playfair+Display|Open+Sans+Condensed:300");

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    overflow-x: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/* header start */

#header {
    height: 100vh;
    background: url(../img/header-banner.jpg) no-repeat center right/cover;
    border-bottom: 1.5px solid #fb5a0d;
}

.header-nav {
    width: 100%;
    height: 90px;
}

.header-nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-logo {
    max-width: 240px;
    -webkit-transform: scale(1.8);
    -ms-transform: scale(1.8);
    transform: scale(1.8);
}

.header-logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.header-content {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.header-content .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-info {
    max-width: 650px;
    width: 100%;
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
}

.header-info-title {
    color: #312937;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.21em;
    margin-bottom: 30px;
}

.header-info-txt {
    color: #2d2c2e;
    font-size: 24px;
}

/* header end */

/* section */

section {
    padding: 70px 0;
}

/* section */

/* feature start */

.feature-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: #312937;
}

.feature-txt {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 50px;
    color: #fd2d17;
}

.feature-consultation {
    padding-top: 100px;
    text-align: center;
}

.feature-consultation-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #00a6ff;
}

.feature-consultation-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 50px;
}

.feature-consultation-form input {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 3px solid #00a6ff;
    margin: 0;
    border-radius: 5px;
    padding: 15px 20px 10px;
}

.feature-consultation-form input::-webkit-input-placeholder {
    font-size: 18px;
    font-weight: 600;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.feature-consultation-form input::-moz-placeholder {
    font-size: 18px;
    font-weight: 600;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.feature-consultation-form input:-ms-input-placeholder {
    font-size: 18px;
    font-weight: 600;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.feature-consultation-form input::-ms-input-placeholder {
    font-size: 18px;
    font-weight: 600;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.feature-consultation-form input::placeholder {
    font-size: 18px;
    font-weight: 600;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.feature-consultation-btn {
    background: #5ec207;
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(-1750px);
        transform: translateX(-1750px);
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(-1750px);
        transform: translateX(-1750px);
    }
}

.slider {
    height: 200px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider::before,
.slider::after {
    background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 200px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    -ms-transform: rotate(180deg);
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 4000px;
}

.slider .slide {
    height: 100px;
    width: 250px;
}

/* feature end */

/* trust start */

main {
    overflow-x: hidden;
}

.trust {
    position: relative;
    margin: 100px 0;
}

.trust .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.trust-content {
    max-width: 650px;
    width: 100%;
}

.trust-content-title {
    font-size: 36px;
    color: #312937;
    font-weight: 600;
    margin-bottom: 10px;
    max-width: 570px;
}

.trust-content-subtitle {
    font-size: 24px;
    color: #fd2d17;
    margin-bottom: 30px;
}

.trust-content-txt {
    font-size: 18px;
    font-weight: 300;
    max-width: 570px;
    margin-bottom: 15px;
}

.trust-content-line-txt {
    font-size: 18px;
}

.trust-content-line {
    fill: #fd2d17;
}

.trust-content-btn {
    display: inline-block;
    margin-top: 30px;
}

.wrapper {
    max-width: 1280px;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    position: absolute;
    top: 50%;
    right: -50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.myswiper {
    width: 100%;
    margin: 0 auto;
}

.swiper-slide {
    max-width: 800px;
    height: 494px;
    overflow: hidden;
    border-radius: 12px;
}

.swiper-slide img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* trust end */

#dex-sign {
    display: inline-block;
    margin: 30px 10px 15px 10px;
    width: 255px;
    height: 84px;
    background: url(http://drygiel.com/projects/sign/frames.png) no-repeat;
}

#dex-sign.white {
    background-image: url(http://drygiel.com/projects/sign/frames-255-white.png);
}

#dex-sign.play {
    -webkit-animation: sign-anim 3.5s 0.2s steps(85) forwards;
    animation: sign-anim 3.5s 0.2s steps(85) forwards;
}

a#dex-sign:hover {
    -webkit-filter: invert(30%) brightness(80%) sepia(100%) contrast(110%) saturate(953%) hue-rotate(165deg);
}

@-webkit-keyframes sign-anim {
    to {
        background-position: 0 -7140px;
    }
}

@keyframes sign-anim {
    to {
        background-position: 0 -7140px;
    }
}

/* quote start */

.quote {
    position: relative;
    letter-spacing: 0.01em;
    margin-bottom: 0.5rem;
}

.quote:before {
    content: "“";
    position: absolute;
    left: 0em;
}

.quote:after {
    content: "”";
    margin-right: -1rem;
}

.quote--container {
    margin: 4.5rem auto 50px;
    width: 100%;
    border-bottom: 2px dotted #C6D1BF;
    padding-bottom: 0.5rem;
    font-size: 32px;
    height: 100%;
    padding: 0.5rem;
    color: #1A222F;
    font-family: "Open Sans Condensed";
    text-align: center;
}

.quote--highlight {
    color: #D24335;
}

.quote--author {
    font-size: 24px;
    text-align: right;
    font-weight: 300;
}

/* quote end */

/* map start */

.map .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.map-banner {
    max-width: 600px;
    max-height: 658px;
    overflow: hidden;
    border-radius: 12px;
}

.map-banner img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.map-info {
    max-width: 700px;
}

.map-info-title {
    color: #312937;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 15px;
}

.trust-content-line-subtxt,
.map-info-txt {
    color: #312937;
    font-size: 18px;
    font-weight: 300;
}

.trust-content-line-subtxt {
    color: #E42652;
    font-weight: 600;
    margin-top: 10px;
}

/* map end */

.btn-group-vertical>.btn-group:after,
.btn-group-vertical>.btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.dl-horizontal dd:after,
.dl-horizontal dd:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.modal-header:after,
.modal-header:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
    content: none;
}

/* question start */

.question {
    width: 100%;
    height: 150px;
    background: url(../img/background.png) no-repeat center/cover;
    margin: 50px 0;
    padding: 0;
}

.question .container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.question-txt {
    font-size: 32px;
    max-width: 650px;
    color: #000;
    text-shadow: 0 0 12px #fff;
}

.question-btn {
    background: #fff;
    font-weight: 600;
    font-size: 24px;
    padding: 10px 25px;
    border-radius: 12px;
    color: #a9342a;
}

/* question end */

/* footer start */

.footer {
    padding: 70px 0 30px;
    background: #141414;
    border-top: 1.5px solid #fb5a0d;
}

.footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer .container:nth-of-type(2) {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    padding: 70px 0 0;
    gap: 50px;
    color: #58595b;
}

.footer-heading {
    font-size: 18px;
    font-weight: 500;
    color: #58595b;
    margin-bottom: 15px;
}

.footer-item {
    margin-bottom: 7px;
}

.footer-link {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 7px;
}

.footer-link img {
    width: 20px;
    height: 20px;
}

/* footer end */

/* modal start */

.modal {
    position: relative;
    z-index: 999;
}

.modal__container {
    padding: 20px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    background: #141414;
}

.modal__title {
    text-align: center;
    width: 100%;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    margin: 10px 0 20px;
}

.modal__close {
    opacity: 0.6;
    -webkit-transition: 0.5 0.6s;
    -o-transition: 0.5 0.6s;
    transition: 0.5 0.6s;
    position: relative;
    top: -5px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.modal__close:hover {
    opacity: 1;
}

.modal__footer {
    padding: 10px 0;
    text-align: center;
}

/* modal form */

form input,
form textarea {
    width: 100%;
    margin: 5px 0 10px;
    padding: 12px 14px 7px;
    border: none;
    font-family: "Poppins";
    outline: none;
    background: none;
    border-bottom: 2px solid #2b2b2b;
    color: #E42652;
    border-radius: 5px;
    font-weight: normal;
}

form input::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
    color: #d1d1e3;
}

form input::-moz-placeholder,
form textarea::-moz-placeholder {
    color: #d1d1e3;
}

form input:-ms-input-placeholder,
form textarea:-ms-input-placeholder {
    color: #d1d1e3;
}

form input::-ms-input-placeholder,
form textarea::-ms-input-placeholder {
    color: #d1d1e3;
}

form input::placeholder,
form textarea::placeholder {
    color: #d1d1e3;
}

.button {
    background: #2b2b2b;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;
}

/* modal */

.panel_call {
    width: 200px;
    height: 75px;
    border-radius: 10px;
    display: none;
    background: #FF6E1F;
    bottom: 40px;
    right: 120px;
    position: fixed;
    text-decoration: none;
}

.panel_call p {
    margin: auto;
    color: white;
}

.info_call {
    margin-top: 10px;
    margin-left: 10px;
}

.info-call {
    font-size: 200%;
    margin-top: -20px;
}

.info_call_number {
    margin-top: -10px;
    font-size: 120%;
}

#popup__toggle {
    bottom: 25px;
    right: 10px;
    z-index: 999;
    position: fixed;
}

.img-circle2 {
    background-color: #FF6E1F;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

.circlephone {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    border: 2px solid #FF6E1F;
    width: 150px;
    height: 150px;
    bottom: -25px;
    right: 10px;
    position: absolute;
    border-radius: 100%;
    opacity: 0.5;
    -webkit-animation: circle-anim 2.4s infinite ease-in-out !important;
    animation: circle-anim 2.4s infinite ease-in-out !important;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.circle-fill {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    background-color: #FF6E1F;
    width: 100px;
    height: 100px;
    bottom: 0px;
    right: 35px;
    position: absolute;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;
    animation: circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.img-circle2 {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    width: 72px;
    height: 72px;
    bottom: 14px;
    right: 49px;
    position: absolute;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: 0.7;
}

.img-circleblock {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    width: 72px;
    height: 72px;
    background-image: url(http://icons.iconarchive.com/icons/graphicloads/100-flat/64/phone-icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    animation-name: tossing;
    -webkit-animation-name: tossing;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.img-circle2:hover {
    opacity: 1;
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 1;
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 1;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.95);
        opacity: 1;
    }

    50% {
        -webkit-transform: scale(1);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(0.95);
        opacity: 1;
    }
}

@keyframes tossing {
    0% {
        -webkit-transform: rotate(-8deg);
        transform: rotate(-8deg);
    }

    50% {
        -webkit-transform: rotate(8deg);
        transform: rotate(8deg);
    }

    100% {
        -webkit-transform: rotate(-8deg);
        transform: rotate(-8deg);
    }
}

@-webkit-keyframes tossing {
    0% {
        -webkit-transform: rotate(-8deg);
    }

    50% {
        -webkit-transform: rotate(8deg);
    }

    100% {
        -webkit-transform: rotate(-8deg);
    }
}

@-webkit-keyframes circle-anim {
    0% {
        -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
        -webkit-opacity: 0.1;
    }

    30% {
        -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
        -webkit-opacity: 0.5;
    }

    100% {
        -webkit-transform: rotate(0deg) scale(1) skew(1deg);
        -webkit-opacity: 0.1;
    }
}

@keyframes circle-anim {
    0% {
        -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
        transform: rotate(0deg) scale(0.5) skew(1deg);
        opacity: 0.1;
    }

    30% {
        -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
        transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: 0.5;
    }

    100% {
        -webkit-transform: rotate(0deg) scale(1) skew(1deg);
        transform: rotate(0deg) scale(1) skew(1deg);
        opacity: 0.1;
    }
}

@-webkit-keyframes circle-fill-anim {
    0% {
        -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: 0.2;
    }

    50% {
        -webkit-transform: rotate(0deg) scale(1) skew(1deg);
        opacity: 0.2;
    }

    100% {
        -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
}

@keyframes circle-fill-anim {
    0% {
        -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
        transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: 0.2;
    }

    50% {
        -webkit-transform: rotate(0deg) scale(1) skew(1deg);
        transform: rotate(0deg) scale(1) skew(1deg);
        opacity: 0.2;
    }

    100% {
        -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
        transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
}

.btn {
    background: #fd2d17;
    padding: 10px 15px;
    border-radius: 8px;
    color: #fff;
}

.feature-consultation-btn {
    height: 47px;
    width: 100px;
}